{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Game.html</h1>
        <a href="{% url 'leaderboard' %}">Leaderboard</a>
        <p>You are logged in as {{ user.username }}</p>
        <br>
        <p>You have {{ player.power_crystals }} power crystals.</p>
        <form method="POST", class="form-group">
            {% csrf_token %}
            <br>
            <label for="enemy_dropdown">Choose an enemy to fight</label>
                <select name="enemy_dropdown" id="enemy_dropdown">
                    {% for enemy in enemies %}
                    <option value="{{ enemy }}">{{ enemy.name }}</option>
                    {% endfor %}
                </select>
              <br>
            <button onclick="this.form.submit(); this.disabled=true; location.href='{% url 'game' %}';" id="gain_power_crystals_button" type="submit" class="btn btn-dark">Fight Monster!</button>
        </form>
    {% else %}
    <!-- USER NOT LOGGED IN -->
        <h1>Game.html</h1>
        <div class="container">
            <p>Please log in or register to play</p>
            <button onclick="location.href='{% url 'login' %}'"; id="login_button" type="button" class="btn btn-dark">Login</button>
            <button onclick="location.href='{% url 'register' %}';"; id="register_button" type="button" class="btn btn-dark">Register</button>
        </div>
    {% endif %}
{% endblock %}