{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        {% if player.is_banned %}
            <div class="container">
                <p>You have been banned. Make a new account, try to be less like your old self. Or leave.</p>
                <button onclick="location.href='{% url 'register' %}';"; id="register_button" type="button" class="btn btn-dark">Register</button>
            </div>
        {% else %}
            <div id="navbar">
                <a id="navbar_game" href="{% url 'game' %}">[Game]</a>
                <a id="navbar_leaderboard" href="{% url 'leaderboard' %}">[Leaderboard]</a>
                <a id="navbar_namechanger" href="{% url 'namechanger' %}">[Change Name]</a>
                <a id="navbar_logout" href="{% url 'logout' %}">[Logout]</a>
            </div>
            <br>
            <p id="logged_in">You are logged in as {{ user.username }}  aka  {{ player.name }}</p>
            <br>
            <p>{{ player.hp_current }} / {{ player.hp_max }} HP</p>
                {% if player.gold >= player.heal_cost and player.hp_current < player.hp_max %}
                    <form method="POST", class="form-group">
                        {% csrf_token %}
                        <input type="submit" name="heal_button_active" class="btn btn-dark" value="Heal"/>
                        <label for="heal_button_active">Cost : {{ player.heal_cost }} Gold </label>
                    </form>
                {% else %}
                    <form method="POST", class="form-group">
                        {% csrf_token %}
                        <input type="submit" name="heal_button_disabled" disabled class="btn btn-dark" value="Heal"/>
                    </form>  
                {% endif %}
            <br>
            <p>{{ player.power_crystals }} Power Crystals</p>
            <p>{{ player.gold }} Gold</p>
            <br>
            {% if current_enemy and dmg_delt_enemy %}
                <p>You hit the {{ current_enemy }} for {{ dmg_delt_player }} damage!</p>
                <p class="text-danger">The {{ current_enemy }} managed to swing back for {{ dmg_delt_enemy }} damage, dazing you!</p>
                <p class="text-danger">It managed to get away! (You will have to fight a new monster)</p>
            {% elif current_enemy %}
                <p class="text-success"> You hit the {{ current_enemy }} for {{ dmg_delt_player }} damage and killed it!</p>
                <p class="text-success">You looted {{ looted_power_crystals }} power crystals and {{ looted_gold }} gold peices!
            {% endif %}
            <form method="POST", class="form-group" id="fight_form">
                {% csrf_token %}
                <br>
                <label id="enemy_dropdown_label" for="enemy_dropdown">Choose an enemy to fight:</label>
                    <select name="enemy_dropdown" id="enemy_dropdown_list">
                        {% if dmg_delt_enemy %}
                            {% for enemy in enemies %}
                                <option value="{{ enemy }}">{{ enemy.name }}</option>
                            {% endfor %}
                        {% else %}
                            {% for enemy in enemies %}
                                {% if enemy.name == current_enemy.name %}
                                <option value="{{ enemy }}" selected>{{ enemy.name }}</option>
                                {% else %}
                                    <option value="{{ enemy }}">{{ enemy.name }}</option>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </select>
                <br>
                <input type="submit" name="combat_button" class="btn btn-dark" value="Fight Monster!" />
            </form>
        {% endif %}
    {% else %}
    <!-- USER NOT LOGGED IN -->
        <div class="container">
            <p>Please log in or register to play</p>
            <button onclick="location.href='{% url 'login' %}'"; id="login_button" type="button" class="btn btn-dark">Login</button>
            <button onclick="location.href='{% url 'register' %}';"; id="register_button" type="button" class="btn btn-dark">Register</button>
        </div>
    {% endif %}
{% endblock %}