{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Game.html</h1>
        <a href="{% url 'game' %}">Back to game</a>
        <p>You are logged in as {{ user.username }}</p>
        <br>
        <div class="row">
            <div class="col-xs-4">
                <div class="container">
                    <h4>Top 10 by Power Crystals</h4>
                    <br>
                    {% for player in players_pc %}
                        <p>{{ player.user.username }} : {{ player.power_crystals }} Power Crystals</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-4 float-right">
                <div class="container">
                    <h4>Top 10 by Gold</h4>
                    <br>
                    {% for player in players_gold %}
                        <p>{{ player.user.username }} : {{ player.gold }} Gold</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
    <!-- USER NOT LOGGED IN -->
        <h1>Game.html</h1>
        <div class="container">
            <p>Please log in or register to play</p>
            <button onclick="location.href='{% url 'login' %}'"; id="login_button" type="button" class="btn btn-dark">Login</button>
            <button onclick="location.href='{% url 'register' %}'"; id="register_button" type="button" class="btn btn-dark">Register</button>
        </div>
    {% endif %}
{% endblock %}